.switch {
    display: block;
}

.switch input {
    position: relative;
}

.switch input {
    position: absolute;
    left: -999999px;
}

.switch__text {
    display: block;
    margin-bottom: 4px;
}

.switch__ui {
    background-color: white;
    border-radius: 10px;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.switch__toggle {
    background-color: var(--switchColorOn);
    border-radius: 10px;
    display: block;
    height: 20px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 20px;
}

.switch--on .switch__toggle {
    background-color: var(--switchColorOn);
    left: calc(100% - 20px);
}

.switch--off .switch__toggle {
    background-color: var(--switchColorOff);
    left: 0%;
}

.switch--small .switch__ui {
    border-radius: 5px;
    height: 10px;
    width: 25px;
}

.switch--small .switch__toggle {
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.switch--small.switch--on .switch__toggle {
    left: calc(100% - 10px);
}

.switch--small .switch__ui {
    border-radius: 15px;
    height: 30px;
    width: 75px;
}

.switch--small .switch__toggle {
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.switch--small.switch--on .switch__toggle {
    left: calc(100% - 30px);
}